.popover {
  position: absolute;
  top: 0;
  left: 0;
  width: 176px;
  list-style: none;
  padding: 0;
  z-index: 2;
  background-color: $sidebar-bg;
  border: 1px solid $border-color;
  border-radius: 4px;

  :first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  :last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  &__item {
    width: 100%;
    padding: 8px 6px;
    color: $quatenary-color;
    background-color: $sidebar-bg;
  }

  :hover {
    cursor: pointer;
    background-color: $sidebar-bg-active;
  }
}
