.tab {
  width: calc(100% / 3);
  height: 50px;
  color: $primary-color;
  border: none;
  font-size: 16px;
  font-weight: 600;
  background-color: transparent;

  &--active {
    border-bottom: 2px $primary-color solid;
  }

  &:hover {
    background-color: $secondary-color;
  }
}
