.edit-checkbox {
  &__item {
    @include flex-center-vert;
    padding: 10px;
    height: 61px;
    border-bottom: 1px solid $border-color;
    color: $text-color;

    &--checked {
      background-color: $secondary-color;
    }

    &__label {
      color: $text-color;
      margin-left: 10px;
    }
  }
}
