@import '../../../assets/styles/abstracts/variables';

.item {
    margin: 2px 0;
    padding: 2px 0 2px 27px; 
    text-decoration: none;

    &--highlight {
        color: $primary-color;
        background-color: $silver-color;
        border-radius: 4px;
        
        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }
}