@import '../../../assets/styles/abstracts/variables';

.input-search {
	width: 95%;
	height: 70%;
	font-size: 1rem;
    padding: 6px;
	border: transparent;
	&:focus {
		border: none;
		outline: 2px solid $primary-color;
		border-radius: 2px;
	}
}