// Color
$primary-color: #1ca1c1;
$secondary-color: #f4f5f9;
$tertiary-color: #8693a5;
$quatenary-color: #fff;
$border-color: #dadee0;
$danger-color: #ff6455;
$success-color: #55cd97;
$danger-bg: #ffdedb;
$success-bg: #d4ede5;
$text-color: #475466;

// Color marker
$maker-primary: #00a07b;
$maker-secondary: #e7a90b;
$maker-tertiary: #ea77c0;

// Size btn
$btn-size-s: 40px;
$btn-size-m: 95px;
$btn-size-l: 180px;

// Size icon
$icon-size-s: 40px;

// Headers
$header-height: 50px;

// Sidebar
$sidebar-bg: #4a4e58;
$sidebar-bg-active: #3b3e46;

// Toolbar
$toolbar-height: 50px;

// Grid
$total-col: 12;
$col-xs: 1.5;
$col-s: 4.4;
$col-m: 6;
$col-l: 10.5;
