.loading {
  @include flex-center-vert;
  color: $text-color;
  font-size: 16px;

  &__icon {
    margin-right: 6px;
    font-size: 20px;

    &--load {
      animation: rotate .5s infinite;
    }

    &--success {
      color: $success-color;
    }

    &--failed {
      color: $danger-color;
    }
  }
}
