.grid__column {
  height: 100%;
  border: 1px solid $border-color;
  background-color: $quatenary-color;

  &--xsmall {
    width: calc(100% / $total-col * $col-xs);
  }

  &--small {
    width: calc(100% / $col-l * $col-s);
    margin-left: 10px;
  }

  &--medium {
    width: calc(100% / $col-l * $col-m);
  }

  &--large {
    width: calc(100% / $total-col * $col-l);
  }

  &--xlarge {
    width: 100%;
  }
}
