@import '../../../src/assets/styles/abstracts/mixins';
@import '../../../src/assets/styles/abstracts/variables';

.avatar {
    @include flex-center;
    margin-left: 10px;
    background-size: cover;
    background-color: $primary-color;
    color: $white-color;
    &--small {
        width: 40px;
        height: 40px;
        font-size: 20px;
    }
    &--medium {
        width: 95px;
        height: 95px;
        font-size: 5rem;
    }
    &--large {
        width: 180px;
        height: 180px;
        font-size: 8rem;
    }
    &--border-radius {
        border-radius: 50%;
    }
}