.sidebar__item {
  list-style: none;
  background-color: $sidebar-bg;

  &__link {
    @include flex-center-vert;
    color: $quatenary-color;
    text-decoration: none;
    padding: 5px;

    &--selected {
      color: $primary-color;
    }
  }

  &__label {
    margin: 10px;
  }

  &:hover {
    cursor: pointer;
  }

  &--selected {
    border-left: 3px solid $primary-color;
    background-color: $sidebar-bg-active;
  }

  &__icon {
    padding-left: 2px;
    width: 20px;
    height: 20px;
  }
}
