.avatar {
  @include flex-center;
  margin-left: 10px;
  background-size: cover;
  background-color: $primary-color;
  color: $quatenary-color;

  &--small {
    width: $btn-size-s;
    height: $btn-size-s;
    font-size: 20px;
  }

  &--medium {
    width: $btn-size-m;
    height: $btn-size-m;
    font-size: 60px;
  }

  &--large {
    width: $btn-size-l;
    height: $btn-size-l;
    font-size: 120px;
  }

  &--border-radius {
    border-radius: 50%;
  }
}
