@import '../../assets/styles/abstracts/variables';
@import '../../assets/styles/abstracts/mixins';

.table {
    display: block;
    width: 100%;
    height: calc(100% - 50px);
    text-align: left;
    &__head {
        display: block;
    }
    &__body {
        display: block;
        height: calc(100% - 55px);
        overflow: auto;
    }
    &__row {
        @include flex-center-vert;
        height: 55px;
        border: 1px solid $border-color;
        background-color: $white-color;
        &--active {
            background-color: #f4f5f9;
            border-left: 3px solid $primary-color;
        }
        &--loading {
            justify-content: center;
            font-size: 20px;
            font-weight: 700;
        }
        &--empty {
            justify-content: center;
            font-size: 20px;
            color: red;
            font-weight: 700;
        }
    }
    &__col {
        width: 25%;
    }
}

.border-bot-primary {
    border-bottom: 1px solid $primary-color;
}