.table {
  &__head {
    display: block;
    font-weight: 600;
  }

  &__row {
    @include flex-center-vert;
    height: 55px;
    border: 1px solid $border-color;
    background-color: $quatenary-color;
  }
}
