@import '../../../assets/styles/abstracts/variables';
@import '../../../assets/styles/abstracts/mixins';

.table__row {
    @include flex-center-vert;
    height: 55px;
    border: 1px solid $border-color;
    background-color: $white-color;

    &--active {
        background-color: #f4f5f9;
        border-left: 3px solid $primary-color;
    }

    &--loading {
        justify-content: center;
        font-size: 20px;
        font-weight: 700;
    }

    &--empty {
        color: red;
    }
}