.mg-left-m {
  margin-left: 20px;
}

.mg-left-l {
  margin-left: 90px;
}

.mg-top-s {
  margin-top: 10px;
}

.mg-left-s {
  margin-left: 27px;
}

.mg-top-m {
  margin-top: 50px;
}

.padding-m {
  padding: 10px;
}

.padding-l {
  padding-top: 30px;
}
