@import '../../assets/styles/abstracts/mixins';
@import '../../assets/styles/abstracts/variables';

.input-box {
  @include flex-center-vert;
  justify-content: space-between;
  margin: 10px 0;
  width: 95%;
  &__label {
    font-size: 16px;
    font-weight: 600;
  }
  &__input {
    font-size: 16px;
    padding: 6px;
    border: 1px solid $border-color;
    &:focus {
      border: transparent;
      outline: 2px solid $primary-color;
    }
    &--small {
      width: 70%;
    }
    &--large {
      width: 100%;
    }
  }
}