@import '../../../assets/styles/abstracts/variables';

.item {
    padding: 2px 0 2px 27px;
    text-decoration: none;
    &--highlight {
        text-decoration: underline;
        color: $primary-color;
        background-color: $silver-color;
        border-radius: 4px;
        &:hover {
            cursor: pointer;
        }
    }
}