.toolbar {
  width: 100%;
  height: 50px;
  padding: 0 10px 0 10px;
  color: $text-color;
  background-color: $quatenary-color;
  border-bottom: 1px solid $border-color;
    &__title{
      @include flex-center-vert;
      justify-content: space-between;
      height: 100%;
    }
}

.dflex {
  display: flex;
  align-items: center;
}
