@import '../../../assets/styles/abstracts/variables';

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
    margin: 0 20px;
    & input { 
        opacity: 0;
        width: 0;
        height: 0;
    }
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $danger-bg;
    -webkit-transition: .4s;
    transition: .4s;
    &:before {
        position: absolute;
        content: "";
        height: 24px;
        width: 24px;
        left: 4px;
        bottom: 3px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }
}

input:checked + .slider {
    background-color: $success-bg;
    &:before {
        transform: translateX(26px);
    }
}
  
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
    &:before {
        border-radius: 50%;
    }
}
