.list {
  list-style: none;
  padding: 10px;
  color: $text-color;

  &__header {
    margin-bottom: 6px;

    &__label {
      margin: 0 0 0 8px;
      display: block;
      font-weight: 700;
    }
  }

  &__icon {
    width: 20px;
    height: 16px;
  }
}


