.edit-rules {
  &__control {
    border: 1px solid $border-color;
    padding: 20px;
    color: $text-color;
  }

  &__label {
    margin: 0 0 20px 0;
  }

  &__search {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $secondary-color;
    border-bottom: 1px solid $primary-color;
    padding: 10px;
  }

  &__list {
    height: calc(100% - 160px);
    font-size: 14px;
    overflow: auto;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 60px;
    padding-left: 20px;
    color: $text-color;
    background-color: $quatenary-color;
    border-bottom: 1px solid $border-color;

    &--checked {
      background-color: $secondary-color;
    }

    &__title {
      font-weight: 600;
    }
  }

  &__marker {
    display: flex;
  }

  &__input {
    font-size: 16px;
    padding: 6px;
    margin-right: 4px;
    border: 1px solid $border-color;
    width: 100%;

    &:focus {
      border: transparent;
      outline: 2px solid $primary-color;
    }
  }
}
