@import '../../assets/styles/abstracts/variables';
@import '../../assets/styles/utilities/flex';
@import '../../assets/styles/utilities/animation';

/* Modal */
.modal {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: fadeIn linear 0.1s;
    &__overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2);
        z-index: 1;
    }
    &__body {
        width: 350px;
        height: auto;
        border-radius: 10px;
        background-color: #fff;
        --growth-from: 0.7;
        --growth-to: 1;
        margin: auto;
        padding: 10px;
        z-index: 2;
        box-shadow: 2px 4px 4px rgba(170, 170, 170, 0.722);
        animation: Growth ease-in 0.5s;
    }
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
    }
    &__title {
        margin: 0;
    }
    &__input {
        width: 200px;
        height: 30px;
        font-size: 16px;
        &:focus {
            border: transparent;
            outline: 2px $primary-color solid;
        }
    }
}