.marker {
  @include flex-center;
  height: 24px;
  max-width: 140px;
  min-width: 100px;
  background-color: $secondary-color;
  border-radius: 8px;
  font-size: 14px;
  margin-right: 16px;

  &__icon {
    margin: 0 4px;
  }

  &__name {
    color: $primary-color;

    &--disable {
      color: $tertiary-color;
    }
  }
}
