.checkbox {
  @include flex-center-vert;
  height: 60px;
  width: 100%;

  &__input {
    width: 24px;
    height: 24px;
    margin: 0 10px 0 0;
    accent-color: $primary-color;
  }

  &__label {
    font-size: 14px;
  }
}
