.box-icon {
  @include flex-center;
  width: $icon-size-s;
  height: $icon-size-s;
  border-radius: 50%;

  &:hover {
    background-color: $secondary-color;
  }
}

.icon {
  font-size: 15px;

  &:hover {
    cursor: pointer;
  }
}
