.btn {
  height: 32px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  color: $primary-color;
  background-color: $secondary-color;

  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }

  &:disabled {
    cursor: not-allowed;
    color: #999;
  }

  &--small {
    width: 116px;
    margin: 0 4px;
  }

  &--medium {
    width: 160px;
  }

  &--large {
    max-width: 80%;
    width: 176px;
    margin: 10px 10%;

    &:hover {
      opacity: 0.8;
    }
  }

  &--primary {
    color: $quatenary-color;
    background-color: $primary-color;
  }
}
