.color-picker-box {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.color-picker {
  display: flex;

  &__label {
    font-weight: 600;
    margin-right: 60px;
  }

  &__area {
    border: 0.5px solid $border-color;
    width: 40px;
    height: 32px;
    border-radius: 4px;
  }
}
