.item {
  margin: 2px 0;
  padding: 6px 0 6px 28px;
  text-decoration: none;
  list-style: none;
  color: $text-color;

  &--highlight {
    color: $primary-color;
    background-color: $secondary-color;
    border-radius: 4px;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
