input[type="file"] {
  display: none;
}

.file-upload {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 32px;
  padding: 4px;
  background-color: $primary-color;
  color: $quatenary-color;
  border: 1px solid $border-color;
  border-radius: 8px;

  &:hover {
    cursor: pointer;
    box-shadow: 1px 2px $border-color;
    color: $primary-color;
    background-color: $secondary-color;
  }

  &__icon {
    margin: 4px;
  }
}
