@import '../../../assets/styles/abstracts/variables';

.grid__column {
    height: 100%;
    border: 1px solid $border-color;
    background-color: $white-color;

    &--xsmall {
        width: 11%;
    }

    &--small {
        width: 28.999%;
        margin-left: 10px;
    }

    &--medium {
        width: 70%;
    }

    &--large {
        width: 89%;
    }
    
    &--xlarge {
        width: 100%;
    }
}