.searchbar {
  @include flex-center-vert;
  justify-content: space-between;
  height: 100%;

  &__input {
    font-size: 16px;
    padding: 6px;
    margin-right: 4px;
    border: 1px solid $border-color;
    width: 100%;

    &:focus {
      border: transparent;
      outline: 2px solid $primary-color;
    }
  }
}
