.input-box {
  @include flex-center-vert;
  margin: 25px 0;
  width: 95%;
  color: $text-color;

  &__label {
    width: 100px;
    font-size: 16px;
    font-weight: 600;
    color: $text-color;
  }

  &__input {
    font-size: 16px;
    padding: 6px;
    border: 1px solid $border-color;

    &:focus {
      border: transparent;
      outline: 2px solid $primary-color;
    }

    &:invalid {
      border-color: $danger-color;
    }

    &--small {
      width: 70%;
    }

    &--large {
      width: 100%;
    }
  }
}
