.information {
  height: calc(100% - $toolbar-height);
  overflow: hidden;

  &__list {
    height: calc(100% - 260px);
    overflow: auto;

    &--no-avatar {
      height: calc(100% - 80px);
    }
  }
}
