.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $header-height;
  margin: 0 12px;
  color: $text-color;

  &__branch {
    font-size: 16px;
    font-weight: 600;
  }
}
