.radio-button {
  @include flex-center-vert;
  font-size: 14px;
  color: $text-color;
  margin-bottom: 4px;
  padding: 2px 0;

  &__input {
    width: 26px;
    height: 24px;
    margin: 0 2px 0 0;
    accent-color: $primary-color;
  }
}
