.table__row {
  @include flex-center-vert;
  height: 55px;
  padding-left: 10px;
  color: $text-color;

  &--active {
    background-color: #f4f5f9;
    border-left: 3px solid $primary-color;
  }

  &--loading {
    justify-content: center;
    font-size: 20px;
    font-weight: 700;
  }

  &--empty {
    color: red;
  }
}
