@font-face {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    src: url(../fonts/Roboto/Roboto-Regular.ttf) format('truetype'),
}

@font-face {
    font-family: Roboto, sans-serif;
    font-weight: 700;
    src: url(../fonts/Roboto/Roboto-Bold.ttf) format('truetype'),
}

@font-face {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    src: url(../fonts/Roboto/Roboto-Light.ttf) format('truetype'),
}

$font-family-main: Roboto, sans-serif;
