@import '../../assets/styles/abstracts/mixins';
@import '../../assets/styles/abstracts/variables';

.toolbar {
    width: 100%;
    height: 50px;
    background-color: $white-color;
    padding: 0 10px 0 10px;
    border-bottom: 1px solid $border-color;
    &__title{
        @include flex-center-vert;
        justify-content: space-between;
        height: 100%;
    }
}

.dflex {
    display: flex;
    align-items: center;
}
